CT_CONFIG_VERSION="4"
CT_EXPERIMENTAL=y
CT_PREFIX_DIR="${CT_PREFIX:-${HOME}/x-tools}/${CT_HOST:+HOST-${CT_HOST}/}${CT_TARGET}/usr"
CT_DOWNLOAD_AGENT_CURL=y
# CT_LOG_PROGRESS_BAR is not set
CT_ARCH_ARM=y
CT_ARCH_64=y
CT_TARGET_VENDOR=""
CT_KERNEL_LINUX=y
CT_LINUX_V_5_16=y
CT_BINUTILS_V_2_38=y
CT_BINUTILS_PLUGINS=y
CT_GLIBC_V_2_38=y
CT_GCC_SRC_DEVEL=y
CT_GCC_DEVEL_URL="https://github.com/rust-lang/gcc.git"
CT_CC_GCC_EXTRA_CONFIG_ARRAY="--enable-host-shared --disable-bootstrap"
# CT_CC_GCC_USE_LTO is not set
CT_CC_LANG_JIT=y
CT_COMP_LIBS_EXPAT=y
CT_EXPAT_V_2_5=y
CT_GETTEXT_V_0_21=y
CT_GMP_V_6_2=y
CT_ISL_V_0_24=y
CT_LIBICONV_V_1_16=y
CT_ZLIB_V_1_2_13=y
CT_ZLIB_NEEDED=y
